body {
  background-color: black;
  color: white;
}

.panel-body {
  text-align: justify;
  color: brown;
}

.carousel {
  margin-bottom: 10px;
}

td {
  background-color: black;
  color: brown;
  text-align: center;
}
.navegador {
  font-size: 30px;
}
