body {
  background-color: black;
  color: white;
}

.panel-body {
  text-align: justify;
  color: brown;
}

.carousel, form {
  margin-bottom: 10px;
}

td {
  background-color: black;
  color: brown;
  text-align: center;
}
.navegador {
  font-size: 30px;
}

textarea {
  color: black;
}

/* .estrellas {
	/* Espacio entre los inline-block (los hijos, los `a`)
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 50px;
	/* Podríamos quitarlo,
		pero de esta manera (siempre que no le demos padding),
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.estrellas a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 80px;
	font-size: 5rem;

	color: #888;
}

.estrellas:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.estrellas > a:hover ~ a {
	color: #888;
} */
