
body {
  color: #3da9a0;
  background-color: #013116;
}




/*
li {
  padding-right: 6%;
  padding-left: 12%;
  padding-bottom: 10px;
}
*/
.encabezadoTabla {
  text-align: center;
}

.contenidoTabla {
  text-align: justify;
}

.formulario {
  padding-bottom: 3px;
}

.contacto {
  padding-left: 27%;
  padding-right: none;
  color: #2c71b7;
}


.logo {
  width: 45px;
  height: 35px;
  background-color:#2a719b;

}

/*.header {
  height: 75px;
}
*/


footer {
  height: 7px;

}
